/*Main-nav*/

.main-nav {
    position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #000000;
    text-decoration: none;
}

.nav-toggle {
    width: 16px;
    height: 16px;
    align-self: center;
}

.nav-button-signup, .button-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C8692;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.price-item-buttons .button-signup {
    color: #000000;
    background-color: #ffffff;
    outline: 2px solid #5C8692;
}

.nav-button-signup {
    width: 100%;
    height: 100%;
}

.nav-item a {
    width: 100%;
    height: 100%;
}

.nav-item-link:focus {
    /*add*/
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 320px) and (max-width: 999px) {

    .main-logo {
       width: 30px;
       height: 30px;
    }

    .main-nav {
        min-height: 30px;
    }

    .nav-items {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        transform: translate(0, 100%);
        display: flex;
        flex-direction: column;
        width: 100vw;
        min-height: 200px;
        font-size: 4vmin;
        line-height: 6vmin;
        background-color: #ffffff;
    }

    .nav-item {
        width: 100%;
        flex: 1;
        text-align: center;
        border-bottom: 1px solid gray;
    }

    .nav-item:first-child {
        border-top: 1px solid gray;
    }

    .nav-toggle {
        position: relative;
        background: transparent;
        /*top: 50%;
        left: 50%;
        -webkit-transform(-50%, -50%);
        transform: translate(-50%, -50%);*/
        padding: 0;
        border: none;
    }

    .nav-toggle:focus {
        outline-width: 0;
    }

    .nav-toggle .bar-bot {
        margin-bottom: 0;
    }

    .nav-toggle [class*='bar-'] {
        background: #5C8692;
        display: block;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease all;
        transition: .2s ease all;
        border-radius: 8px;
        width: 18px;
        height: 2px;
        margin-bottom: 4px;
    }

    .opened .bar-top {
        -webkit-transform: rotate(45deg);
        transform: rotate(47deg);
        margin-left: 1px;
        -webkit-transform-origin: 15% 15%;
        transform-origin: 5% 65%;
        width: 19px;
    }
    .opened .bar-mid {
        opacity: 0;
    }
    .opened .bar-bot {
        -webkit-transform: rotate(45deg);
        transform: rotate(-47deg);
        margin-left: 1px;
        -webkit-transform-origin: 15% 95%;
        transform-origin: 10% 95%;
        width: 19px;
    }

    .nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .nav-button:last-child {
        margin-right: 0;
    }

    .button-signup-text {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
    }
}

@media (min-width: 1000px) {
    .main-logo {
        width: 40px;
        height: 40px;
    }

    .main-nav {
        position: sticky;
        top: 0;
        z-index: 100;
        width: 100%;
        min-height: 50px;
        background-color: #ffffff;
    }

    .nav-items {
        display: flex;
        justify-content: flex-end;
        min-width: 600px;
    }

    .nav-item {
        margin-right: 20px;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-button-signup {
        width: 130px;
    }

    .nav-toggle {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
    }


}

/*main-header*/

.main-header {
    min-height: 600px;
    padding: 40px 20px;
    background-color: #EBF3F5;
}

.main-header-content {
    display: flex;
}

.header-content-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.details-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-text-title {
    margin-top: 0;
}

.details-text-description {
    color: #555555;
}

.header-content-img {
    border: 10px solid #5C8692;
}

.content-img-container {
    margin: 10px;
}

@media (min-width: 320px) and (max-width: 999px) {
    .main-header-content {
        flex-direction: column;
    }

    .main-header-content > * {
        min-height: 330px;
        margin-bottom: 10px;
    }

    .main-header-content > *:last-child {
        margin-bottom: 0;
    }


    .details-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .header-content-img {
        display: flex;
        align-items: center;
    }

}
@media (min-width: 768px) and (max-width: 999px) {
    .main-header-content > * {
        min-height: 430px;
        margin-bottom: 10px;
    }

    .content-img-container {
        min-height: 420px;
    }
}

@media (min-width: 1000px) {

    .main-header-content {
        min-height: 645px;
        flex-direction: row;
    }

    .main-header-content > * {
        flex: 1;
    }

    .button-signup {
        width: 210px;
    }
}


/*work*/

.work {
    position: relative;
    background-color: #F8F8F6;
}

.work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.work-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 280px;
    min-height: 400px;
    margin: 20px;
}

.work-item-title {
    margin-top: 0;
}

.work-item-description {
    color: #555555;
}

.work-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-container-img {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.work-item-wrapper .btn-more {
    min-width: 40px;
    min-height: 40px;
    align-self: center;
}

.btn-more {
    background-color: #ffffff;
    border: 2px solid #5C8692;
}

@media (min-width: 320px) and (max-width: 999px) {
    .work {
        padding: 20px;
    }

    .work-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 300px;
    }


}

/*price*/

.price {
    background-color: #F8F8F6;
}

.price-title {
    margin-top: 0;
    text-align: center;
}

.price-items {
    margin: 0;
    padding: 20px;
    list-style: none;
}

.price-item:not(.price-item-img) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-item-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.price-item .btn-more {
    color: #000000;
    text-decoration: none;
}

.price-item-container {
    width: 100%;
    height: 100%;
}

.price-content-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price-content-item {
    margin-bottom: 10px;
}

.price-content-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 2px solid #000000;
}

.price-content-text > * {
    margin-bottom: 0;
}

.price-content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 30px;
}

.price-content-buttons > * {
    margin-right: 10px;
}

.price-content-buttons > *:last-child {
    margin-right: 0;
}

@media (min-width: 320px) and (max-width: 999px) {

    .price-item-img:not(:first-child) {
        margin-top: 15px;
    }

    .price-item-img img {
        /*width: 100%;*/
        min-height: 300px;
    }

    .price-item .btn-more {
        min-width: 50px;
    }


}

@media (min-width: 1000px) {
    .price-items {
        display: flex;
        flex-direction: row;

    }

    .price-item {
        flex: 1;
    }
}

/*gallery*/

.gallery {
    position: relative;
    padding: 20px;
}

.gallery-title {
    text-align: center;
}

.gallery-items {
    display: flex;
}

.gallery-item {
    color: white; /*for tests*/
}

.gallery-item-items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.gallery-item-item {
    padding: 0;
    margin: 0;
    color: white;
}


@media (min-width: 320px) {
    .gallery-items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .gallery-item {
        min-width: 200px;
        min-height: 200px;
        margin: 20px;
        background-color: black;
    }

    .gallery-item-item {
        min-width: 200px;
        min-height: 200px;
        background-color: black;
    }

}

/*masters*/

.master {
    position: relative;
    padding: 20px;
}

.master-title {
    text-align: center;
}

.master-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.master-item {
    display: flex;
    cursor: pointer;
    border-radius: 35px;
}

.master-text {
    padding: 20px;
}

.master-name {
    margin-top: 0;
}

.master-img-container {
    border-radius: 35px;
}

@media (min-width: 320px) {
    .master-item {
        flex-direction: column;
        justify-content: center;
        min-width: 280px;
        margin: 20px;
        color: #ffffff;
        background-color: #5C8692;
    }

    .master-img-container {
        min-height: 125px;
    }

    .master-buttons {
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .master-item {
        flex-direction: row;
        justify-content: flex-start;
        min-width: 450px;
    }

    .master-text {
        padding: 10px;
    }

    .master-img-container {
        min-width: 190px;
    }

    .master-buttons, .master-button-change {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
    }

    .master-item-scale {
        min-height: 300px;
    }

    .master-item-scale > * {
        width: 400px;
    }
}

/*cards*/

.card-number {
    color: #ffffff;
}




/*about-us*/

.about-us {
    padding: 20px;
    background-color: #EBF3F5;
}

.about-us-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-us-media {
    background-color: black;
}

@media (min-width: 320px) and (max-width: 999px) {

    .about-us {
        min-height: 300px;
    }

    .about-us-items {
        display: flex;
        flex-direction: column;
    }

    .about-us-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .about-us-media {
        min-height: 150px;
        background-color: black;
    }
}

@media (min-width: 500px) {
    .about-us-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about-us-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 320px;
        margin-right: 20px;
    }

    .about-us-item:last-child {
        margin-right: 0;
    }

    .about-us-item > * {
        min-height: 150px;
        margin: 0;
    }
}

@media (min-width: 1000px) {

    .about-us-items {
        justify-content: space-around;
    }

    .about-us-item {
        width: 400px;
        min-height: 420px;
        margin-right: 0;
    }

    .about-us-item > * {
        min-height: 200px;
    }
}

/*comment*/

.comment {
    position: relative;
    padding: 20px;
    background-color: #EBF3F5;
}

.comment-title {
    margin-top: 0;
}

.comment-items {
    margin: 0;
    padding: 0 20px;
    list-style: none;
}

.comment-item * {
    margin: 0;
}

.comment-item-paragraph {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.comment-item-footer {
    color: #ffffff;
    background-color: #5C8692;
}

.comment-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (min-width: 320px) {
    .comment-item {
        min-height: 300px;
        margin-bottom: 15px;
    }

    .comment-item > * {
        padding: 10px;
        margin: 0;
    }

    .comment-item-paragraph {
        min-height: 225px;
    }

    .comment-user {
        flex-direction: row;
        align-items: center;
    }

    .comment-user > * {
        margin-right: 10px;
    }

    .comment-user > *:last-child {
        margin-right: 0;
    }

    .comment-user-img {
        width: 48px;
        height: 48px;
        background-color: black;
    }
}

@media (min-width: 768px) {
    .comment-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .comment-item {
        width: 280px;
        min-width: 230px;
        margin: 20px
    }
}

/*contacts*/

.contact {
    padding: 20px;
    color: #000000;
    background-color: #F8F8F6;
}

.contact-title {
    margin-top: 0;
    text-align: center;
}

.contact-items, .contact-information-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-items {
    padding: 15px;
}

.contact-information-tel {
    color: #000000;
    text-decoration: none;
}

.contact-information-mail {
    color: #000000;
}

@media (min-width: 320px) and (max-width: 999px) {
    .contact-items, .contact-information-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .contact-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .contact-item {
        margin-right: 10px;
    }

    .contact-information-items {
        align-items: flex-start;
    }
}

/*main-footer*/

.main-footer {
    padding: 15px;
    background-color: #5C8692;
}

.footer-content-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-item-paragraph, .footer-link {
    color: #ffffff;
}

.footer-link {
    text-decoration: none;
}

/*Defautl-settings*/

* {
    outline: 1px solid cornflowerblue;
}

* {
    transition-duration: .3s;
    box-sizing: border-box;
    overflow: hidden;
}

.main-nav {
    overflow: visible;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html {
    overflow: auto;
}

figure {
    margin: 0;
}

* > img {
    display: block;
    width: 100%;
    min-height: 100%;
}

.hidden, .hidden-elem {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}


.arrow-button-right, .arrow-button-left {
    position: absolute;
    z-index: 10;
    top: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
}
.arrow-button-right {
    position: absolute;
    right: 0;
}

.arrow-button-left {
    position: absolute;
    left: 0;
}

@media (min-width: 320px) {
    html {
        font-size: 4vmin;
        line-height: 8vmin;
    }

    .button-signup {
        min-width: 120px;
        min-height: 40px;
    }

    .arrow {
        width: 40px;
        height: 30px;
        margin: 0;
    }

    .arrow img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .topic {
        font-size: 8vmin;
        line-height: 16vmin;
    }
}

@media (min-width: 768px) {
    .arrow {
        width: 70px;
        height: 60px;
    }
}
