
/*min-animation-slider*/
:root {
    --total-animation-time: 0;
    --total-animation-time-gallery: 0;
    --total-animation-time-master: 0;
    --total-animation-time-about: 0
}

@-webkit-keyframes round {
    0%, 100% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes round {
    0%, 100% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*Main-nav*/

.main-nav {
    position: relative;
    padding: 10px 20px;
}

.nav-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item-link {
    display: block;
    width: 100%;
    height: 100%;
    color: #000000;
    text-decoration: none;
}

.nav-item-link:hover {
    color: #008080FF;
}

.nav-item-link:active {
    color: #005959;
}

.nav-toggle {
    width: 16px;
    height: 16px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.nav-button-signup, .button-signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #5C8692;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.price-item-buttons .button-signup {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #5C8692;
}

.nav-button-signup {
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    width: 100%;
    height: 100%;
}

.button-signup {
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.nav-button-signup:hover, .button-signup:hover {
    color: #ffffff;
    -webkit-box-shadow: #005959 0 0px 0px 40px inset;
    box-shadow: #005959 0 0px 0px 40px inset;
}

.nav-button-signup:active, .button-signup:active {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
}


.nav-item a {
    width: 100%;
    height: 100%;
}

.nav-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 320px) and (max-width: 999px) {
    .main-logo {
        width: 30px;
        height: 30px;
    }

    .main-nav {
        min-height: 30px;
    }

    .nav-items {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        -webkit-transition: max-height 0.8s ease;
        -o-transition: max-height 0.8s ease;
        transition: max-height 0.8s ease;
        max-height: 500px;
        overflow: hidden;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100vw;
        font-size: 4vmin;
        line-height: 6vmin;
        background-color: #ffffff;
    }

    .nav-items.collapsed {
        max-height: 0;
        overflow: hidden;
    }

    .nav-items {
        position: absolute;

    }

    .nav-item {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid gray;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .nav-item:first-child {
        border-top: 1px solid gray;
    }

    .nav-item-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        color: #000000;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; /* Ensure padding and borders don't affect height */
        padding: 10px; /* Adjust the padding as needed */
    }

    .nav-toggle {
        position: relative;
        background: transparent;
        padding: 0;
        border: none;
    }

    .nav-toggle:focus {
        outline-width: 0;
    }

    .nav-toggle .bar-bot {
        margin-bottom: 0;
    }

    .nav-toggle [class*='bar-'] {
        background: #5C8692;
        display: block;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease all;
        -o-transition: .2s ease all;
        transition: .2s ease all;
        border-radius: 8px;
        width: 18px;
        height: 2px;
        margin-bottom: 4px;
    }

    .opened .bar-top {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(47deg);
        transform: rotate(47deg);
        margin-left: 1px;
        -webkit-transform-origin: 15% 15%;
        -ms-transform-origin: 5% 65%;
        transform-origin: 5% 65%;
        width: 20px;
    }
    .opened .bar-mid {
        opacity: 0;
    }
    .opened .bar-bot {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(-47deg);
        transform: rotate(-47deg);
        margin-left: 1px;
        -webkit-transform-origin: 15% 95%;
        -ms-transform-origin: 10% 95%;
        transform-origin: 10% 95%;
        width: 20px;
    }

    .nav-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .nav-button:last-child {
        margin-right: 0;
    }

    .button-signup-text {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
    }
}

@media (min-width: 1000px) {
    .main-logo {
        width: 60px;
        height: 57px;
    }

    .main-nav {
        display: block;
        position: sticky;
        top: 0;
        z-index: 100;
        width: 100%;
        min-height: 50px;
        background-color: #ffffff;
    }

    .nav-points {
        min-height: 60px;
    }

    .nav-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        min-width: 600px;
    }

    .nav-item {
        margin-right: 20px;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-item-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-buttons {
        margin-left: 80px;
    }

    .nav-button-signup {
        width: 200px;
    }

    .nav-button-signup img[src="img/recording-btn.svg"]{
        width: auto;
        min-height: auto;
    }

    .button-signup-text {
        margin-left: 4px;
    }

    .nav-toggle {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
    }


}

/*main-header*/

.main-header {
    min-height: 600px;
    padding: 40px 20px;
    background-color: #EBF3F5;
}

.main-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-content-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 40px;
}

.details-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.details-text-title {
    margin-top: 0;
}

.details-text-description {
    color: #555555;
}

.header-content-img {
    border: 10px solid #5C8692;
}

.content-img-container {
    margin: 10px;
}

@media (min-width: 320px) and (max-width: 999px) {
    .main-header-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main-header-content > * {
        margin-bottom: 10px;
    }

    .main-header-content > *:last-child {
        margin-bottom: 0;
    }


    .details-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header-content-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

}
@media (min-width: 768px) and (max-width: 999px) {
    .main-header-content > * {
        min-height: 430px;
        margin-bottom: 10px;
    }

    .content-img-container {
        min-height: 420px;
    }
}

@media (min-width: 1000px) {

    .main-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 650px;
        padding: 40px 20px 80px;
        font-size: 24px;
        line-height: 48px;

    }

    h1 {
        font-size: 50px;
        line-height: 70px;
    }

    .main-header-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .main-header-content > * {
        width: 490px;
        margin-right: 20px;
    }

    .main-header-content > *:last-child {
        margin-right: 0;
    }

    .button-signup {
        width: 240px;
        min-height: 60px;
    }

    .content-img-container {
        position: relative;
    }
    @-webkit-keyframes translateHeaderImg {
        100% {
            -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
        }

    }
    @keyframes translateHeaderImg {
        100% {
            -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
        }

    }

    .content-img-container img{
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
    }

    .content-img-container img {
        -webkit-animation: translateHeaderImg 2s 1;
        animation: translateHeaderImg 2s 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }


}


/*work*/

.work {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F8F8F6;
}

.work-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.work .btn-more {
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.work .btn-more a{
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    color: #000000;
    text-decoration: none;
}

.work .btn-more a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.work .btn-more a:active {
    opacity: 0.8;
}

.work .btn-more:hover {
    background-color: #64919b;
}

.work-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 280px;
    min-height: 400px;
    margin: 20px;
}

.work-item-title {
    margin-top: 0;
}

.work-item-description {
    color: #555555;
}

.work-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.work-container-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.work-item-wrapper .btn-more {
    min-width: 40px;
    min-height: 40px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.btn-more {
    background-color: #ffffff;
    border: 2px solid #5C8692;
}


.work {
    position: relative;
}
@-webkit-keyframes moveLeftShow {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes moveLeftShow {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveLeft2Show {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveLeft2Show {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveRightShow {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveRightShow {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveRight2Show {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveRight2Show {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.work-item {
    opacity: 0;
    -webkit-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.left-show-animation:not(.hidden):nth-of-type(n) {
    -webkit-animation: moveLeftShow 4s 1, fadeIn 2s forwards;
    animation: moveLeftShow 4s 1, fadeIn 2s forwards;
}

.left-show-animation:not(.hidden):nth-of-type(2n) {
    -webkit-animation: moveLeft2Show 4s 1, fadeIn 2s forwards;
    animation: moveLeft2Show 4s 1, fadeIn 2s forwards;
}

.right-show-animation:not(.hidden):nth-of-type(n) {
    -webkit-animation: moveRightShow 4s 1, fadeIn 2s forwards;
    animation: moveRightShow 4s 1, fadeIn 2s forwards;
}

.right-show-animation:not(.hidden):nth-of-type(2n) {
    -webkit-animation: moveRight2Show 4s 1, fadeIn 2s forwards;
    animation: moveRight2Show 4s 1, fadeIn 2s forwards;
}


@media (min-width: 320px) and (max-width: 999px) {
    .work {
        min-height: 400px;
        padding: 20px;
    }

    .work-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 300px;
    }

}

@media (min-width: 768px) and (max-width: 999px) {
    .work {
        min-height: 580px;
    }
}

@media (min-width: 1000px) {
    .work {
        min-height: 670px;
        padding: 50px;
    }
    .work-items {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px;
    }

    .work-item {
        width: 400px;
        margin-top: 0;
    }

    .work-item-wrapper .btn-more {
        min-width: 190px;
        min-height: 60px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .work-item-description {
        min-height: 135px;
    }
}

@media (min-width: 1200px) {
    .work-item {
        width: 460px;
        margin-top: 0;
    }
}

/*price*/

.price {
    font-family: 'Playfair Display', serif;
    background-color: #F8F8F6;
}

.price-title {
    margin: 0;
    text-align: center;
}

.price-items {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    list-style: none;
}

.price-item:not(.price-item-img) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.price-item-img {
    position: relative;
    background-color: #000000;
}

.price-img {
    position: absolute;
    width: inherit;
    height: inherit;
    -webkit-animation: round var(--total-animation-time) infinite;
    animation: round var(--total-animation-time) infinite;
    opacity: 0;
}

.price-item-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.btn-more {
    -webkit-transition: background-color, color .2s linear;
    -o-transition: background-color, color .2s linear;
    transition: background-color, color .2s linear;
}

.btn-more:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: #64919b;
}

.btn-more:active {
    color: rgba(255,255,255, 0.8);
}



.price-item-container {
    width: 100%;
    height: 100%;
}

.price-content-items {
    margin: 0;
    padding: 20px;
    list-style: none;
}

.price-content-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #134134;
}

.price-content-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 2px solid #000000;
}

.price-content-text > * {
    margin-bottom: 0;
}

.price-content-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 30px;
}

.price-content-buttons > * {
    margin-right: 10px;
}

.price-content-buttons > *:last-child {
    margin-right: 0;
}

@media (min-width: 320px) and (max-width: 999px) {

    .price-item-img:not(:first-child) {
        margin-top: 15px;
    }

    .price-item-img {
        min-height: 375px;
    }

    .price-item-img img {
        width: 100%;
        height: 100%;
    }

    .price-item .btn-more {
        min-width: 50px;
        font-family: 'Manrope', sans-serif;
    }
}

@media (min-width: 768px) {
    .price-item-img {
        min-height: 820px;
    }
}

@media (min-width: 1000px) {
    .price-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 2vmin;
        line-height: 4vmin;
        background-color: #F8F8F6;
    }

    .price-item {
        width: 480px;
        background-color: #ffffff;
    }


    .price-item:not(.price-item-img) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .price-item:not(.price-item-img) {
        padding-bottom: 20px;
    }

    .price-item-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 435px;
    }
}

@media (min-width: 1200px) {
    .price-item {
        width: 605px;
    }

    .price-item-img {
        height: 655px;
    }
}

/*gallery*/

.gallery {
    position: relative;
    padding: 20px;
}

.gallery-title {
    text-align: center;
}

.gallery-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery-item {
    position: relative;
    color: white; /*for tests*/
}

.gallery-item-items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.gallery-item-item {
    padding: 0;
    margin: 0;
    color: white;
}

.gallery-item-item-video video {
    width: 100%;
    height: 100%;
}


@media (min-width: 320px) {
    .gallery-items {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .gallery-item {
        min-width: 200px;
        min-height: 200px;
        margin: 20px;
        background-color: black;
    }

    /*.gallery-item-item {
        min-width: 200px;
        min-height: 200px;
        background-color: black;
    }*/

}

/*@media (min-width: 320px) and (max-width: 1023px) {
    .gallery-item-items {
        position: relative;
        width: 250px;
        height: 250px;
        background-color: #000000;
    }

    .gallery-item-item {
        position: absolute;
        min-width: 200px;
        min-height: 200px;!*
        animation: round var(--total-animation-time-gallery) infinite;*!
        opacity: 0;
    }

    .gallery-item-item-video {
        opacity: 1;
    }

    .gallery-item-item-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery-item-item img {
        width: 100%;
        height: 100%;
    }
}*/

@media (min-width: 320px) and (max-width: 1023px) {
    .gallery-item-items {
        position: relative;
        width: 250px;
        height: 250px;
        background-color: #000000;
    }

    .gallery-item-item {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .gallery-item-item-video {
        opacity: 1;
    }

    .gallery-item-item-video video {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .gallery-item-item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .gallery-items {
        position: relative;
    }
    .gallery .gallery-arrow {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    .gallery-item {
        width: 240px;
        height: 240px;
    }

    .gallery-item:not(.gallery-item-scale):hover {
        cursor: pointer;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .gallery-item-scale {
        position: absolute;
        z-index: 999;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        cursor: pointer;
    }

    .gallery-item-scale .arrow {
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }

    .gallery-item .arrow-button-right {
        -webkit-transform: translateX(55%);
        -ms-transform: translateX(55%);
        transform: translateX(55%);
    }

    .gallery-item .arrow-button-left {
        -webkit-transform: translateX(-55%);
        -ms-transform: translateX(-55%);
        transform: translateX(-55%);
    }
}

@media (min-width: 1200px) {
    .gallery-item {
        width: 340px;
        height: 320px;
    }
}

/*masters*/

.master {
    position: relative;
    padding: 20px;
}

.master-title {
    text-align: center;
}

.master-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.master-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border-radius: 75px;
}

.master-text {
    padding: 20px;
}

.master-name {
    margin-top: 0;
}

.master-img-container {
    position: relative;
    background-color: #000000;
    border-radius: 75px;
}

.master-slider {
    position: absolute;
    -webkit-animation: round var(--total-animation-time-master) infinite;
    animation: round var(--total-animation-time-master) infinite;
    opacity: 0;
}


@media (min-width: 320px) {
    .master-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-width: 280px;
        margin: 20px;
        color: #ffffff;
        background-color: #5C8692;
    }

    .master-img-container {
        min-height: 125px;
    }

    .master-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 10px;
    }
    .master-item-scale .master-img-container {
        min-height: 400px;
    }
}

@media (min-width: 768px) {
    .master-item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        min-width: 450px;
    }

    .master-img-container {
        width: 275px;
        height: 315px;
    }

    .master-text {
        font-size: 14px;
        line-height: 28px;
        padding: 10px;
    }


    .master-buttons, .master-button-change {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
    }

    .master-item-scale {
        min-height: 300px;
    }

    .master-item-scale > * {
        width: 400px;
    }
}

@media (min-width: 1024px) {
    .master-item {
        width: 450px;
    }

    .master-item:not(.master-item-scale):hover {
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .master-img-container {
        width: 245px;
        height: 285px;
    }

    .master-text {
        width: 250px;
        font-size: 3vmin;
        line-height: 5vmin;
    }

    .master-item-scale {
        width: 950px;
        min-height: 300px;
    }

    .master-item-scale > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .master-item-scale .master-descriptions {
        font-size: 20px;
        line-height: 32px;
    }

    .master-item-scale .master-img-container {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .master-item:not(.master-item-scale) {
        width: 480px;
    }
}
/*cards*/

.card-number {
    color: #ffffff;
}




/*about-us*/

.about-us {
    padding: 20px;
    background-color: #EBF3F5;
}

.about-us-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-us-title {
    margin: 0;
}

.about-wrapper-media {
    position: relative;
}

.about-slider {
    position: absolute;
    -webkit-animation: round var(--total-animation-time-about) infinite;
    animation: round var(--total-animation-time-about) infinite;
    opacity: 0;
}

@media (min-width: 320px) and (max-width: 999px) {
    .about-us {
        min-height: 300px;
    }

    .about-us-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .about-us-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px;
    }

    /* .about-us-media {*/
    .about-wrapper-media {
        min-height: 370px;
        background-color: black;
    }

    .wrapper-media-video video {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 500px) {
    .about-us-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .about-us-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        min-height: 320px;
        margin-right: 20px;
    }

    .about-us-item:last-child {
        margin-right: 0;
    }

    .about-us-item > * {
        min-height: 150px;
        margin: 0;
    }

    .about-wrapper-media {
        min-height: 490px;
    }

    .about-wrapper-media img{
        height: 490px;
    }
}

@media (min-width: 1000px) {

    .about-us {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .about-us-title {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .about-us-items {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .about-us-item {
        width: 450px;
        min-height: 400px;
        margin-right: 30px;
    }

    .about-us-item:last-child {
        margin-right: 0;
    }


    .about-us-item > * {
        min-height: 200px;
    }

    .about-wrapper-media {
        height: 600px;
    }

    .about-wrapper-media img{
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .about-us-item {
        width: 550px;
    }
}

/*comment*/

.comment {
    position: relative;
    padding: 20px;
    background-color: #EBF3F5;
}

.comment-title {
    margin-top: 0;
    text-align: center;
}

.comment-items {
    margin: 0;
    padding: 0 20px;
    list-style: none;
}

.comment-item * {
    margin: 0;
}

.comment-item-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
}

.comment-item-footer {
    color: #ffffff;
    background-color: #5C8692;
}

.comment-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media (min-width: 320px) {
    .comment-item {
        min-height: 300px;
        margin-bottom: 15px;
    }

    .comment-item > * {
        padding: 10px;
        margin: 0;
    }

    .comment-item-paragraph {
        min-height: 225px;
    }

    .comment-user {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .comment-user > * {
        margin-right: 10px;
    }

    .comment-user > *:last-child {
        margin-right: 0;
    }

    .comment-user-img {
        width: 48px;
        height: 48px;
        background-color: black;
    }

    .user-rating-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .user-rating-items {
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .comment-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .comment-item {
        width: 610px;
        min-width: 230px;
        margin: 0 20px 20px;
    }

    .comment-item-paragraph {
        min-height: 280px;
    }

    .comment-user-name {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) {
    .comment-item {
        width: 420px;
    }
}

@media (min-width: 1200px) {
    .comment-item {
        width: 610px;
    }
}

/*contacts*/

.contact {
    padding: 20px;
    color: #000000;
    background-color: #F8F8F6;
}

.contact-title {
    margin: 0;
    text-align: center;
}

.contact-items, .contact-information-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-items {
    padding: 15px;
}

.contact-information-link {
    color: #000000;
    text-decoration: none;
}

.contact-information-link:hover {
    color: #008080FF;
    text-decoration: underline;
}

.contact-information-link:active {
    color: #005959;
}

.contact-link-description {
    margin: 0;
    font-size: 12px;
    line-height: 24px;
}



@media (min-width: 768px) {
    .contact-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .contact-item {
        margin-right: 10px;
    }

    .contact-information-items {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

@media (min-width: 320px) and (max-width: 999px) {
    .contact-items, .contact-information-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

/*main-footer*/

.main-footer {
    padding: 15px;
    background-color: #5C8692;
}

.footer-content-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-communication-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer-content-item {
    margin-right: 15px;
}

.footer-content-item:last-child {
    margin-right: 0;
}

.footer-content-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #000000;
}

.footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-icons .social-icon {
    margin-right: 5px;
}

.footer-icons .social-icon:last-child {
    margin-right: 0;
}



.footer-item-paragraph, .footer-link {
    color: #000000;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

/*Defautl-settings*/

/** {
    outline: 1px solid cornflowerblue;
}*/

* {
    /* transition-duration: .3s;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.main-nav, .header-content-img, .content-img-container,
.gallery-items, .master-items, .gallery, .gallery-item-scale, .contact *{
    overflow: visible;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html {
    overflow: auto;
    font-family: 'Manrope', sans-serif;
}

figure {
    margin: 0;
}

* > img {
    display: block;
    width: 100%;
    min-height: 100%;
}

.hidden, .hidden-elem {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.inst-mark {
    position: relative;
}

.inst-mark-description {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.arrow-button-right, .arrow-button-left {
    position: absolute;
    z-index: 10;
    top: 50%;
    cursor: pointer;
    background-color: #ffffff;
    border: 0;
    border-radius: 30%;
    outline: none;
}
.arrow-button-right {
    position: absolute;
    right: 0;
}

.arrow-button-left {
    position: absolute;
    left: 0;
}

.christ-button {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
}

.christ-button img {
    cursor: pointer;
}

.overlay::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    background-color: #3f3e3f;
    opacity: 0.5;
}

@media (min-width: 320px) {
    html {
        font-size: 3vmin;
        line-height: 6vmin;
    }

    .button-signup {
        min-width: 120px;
        min-height: 40px;
    }

    .arrow {
        width: 40px;
        height: 30px;
        margin: 0;
    }

    .arrow img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .topic {
        font-size: 8vmin;
        line-height: 16vmin;
    }

    .inst-mark:hover .inst-mark-description {
        position: absolute;
        -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: translate(-40%, 5%);
        -ms-transform: translate(-40%, 5%);
        transform: translate(-40%, 5%);
        z-index: 10;
        clip: auto; /*rect(auto, 220px, auto, 0);*/
        min-width: 300px;
        height: auto;
        font-size: 7px;
        line-height: 14px;
        background-color: #ffffff;
    }
}

@media (min-width: 768px) {
    .arrow {
        width: 70px;
        height: 60px;
    }

    .inst-mark:hover .inst-mark-description {
        position: absolute;
        -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: translate(50%, -80%);
        -ms-transform: translate(50%, -80%);
        transform: translate(50%, -80%);
        z-index: 10;
        clip: auto; /*rect(auto, 220px, auto, 0);*/
        width: auto;
        height: auto;
        font-size: 8px;
        line-height: 16px;
        background-color: #ffffff;
    }
}